Test: "for" tag iterates over iterable and countable objects

{foreach $items as $item}
  * {$item}
  * {$iterator->index}/{$iterator->index0}
  * {$iterator->revindex}/{$iterator->revindex0}
  * {$iterator->first}/{$iterator->last}/{$iterator->length}

{/foreach}

{foreach $items as $key => $value}
  * {$key}/{$value}
{/foreach}

{foreach ($items|keys) as $key}
  * {$key}
{/foreach}
