Test: "defined" support for macros

{import $_self}
{import $_self}

{if method_exists($macros["macros"], "hello")}
    OK
{/if}

{if !method_exists($macros["macros"], "foo")}
    OK
{/if}

{if method_exists($macros["__internal_c2d9f9a9e8b868d6b479e868d58395d8cbc54944fb9a32618a290652e926dd88"], "hello")}
    OK
{/if}

{if !method_exists($macros["__internal_c2d9f9a9e8b868d6b479e868d58395d8cbc54944fb9a32618a290652e926dd88"], "bar")}
    OK
{/if}

{if !isset($foo)}
    OK
{/if}

{define hello, $name}
    Hello {$name}
{/define}
