Test: "apply" tag does not create a new scope

{var $foo = baz}
{block|spaceless}
    {var $foo = foo}
    {var $bar = bar}
{/block}
{=(foo == $foo) ? ('OK ' . $foo) : KO}
{=(bar == $bar) ? ('OK ' . $bar) : KO}
