Test: "filter" filter

{var $offset = 3}

{foreach array_filter([1, 5, 3, 4, 5], fn($v) => ($v > $offset)) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_filter([a => 1, b => 2, c => 5, d => 8], fn($v) => ($v > $offset)) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_filter([a => 1, b => 2, c => 5, d => 8], fn($v, $k) => (($v > $offset) && ($k != d))) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_filter([1, 5, 3, 4, 5], fn($v) => ($v > $offset)) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_filter($it, fn($v) => ($v > $offset)) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_filter($ita, fn($v) => ($v > $offset)) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_filter($xml, fn($x) => true) as $k => $v}
{$k}/{$v}
{/foreach}

{* we can iterate more than once *}
{foreach array_filter($xml, fn($x) => true) as $k => $v}
{$k}/{$v}
{/foreach}

{var $coll = array_filter([a, b], fn($v) => $v === a)}
{if (($coll|length) > 0)}
    {$coll|implode:', '}
{/if}
