Test: "join" filter

{=[foo, bar]|implode:', '}
{$foo|implode:', '}
{$bar|implode:', '}

{=[foo, bar]|implode:', ', ' and '}
{$foo|implode:', ', ' and '}
{$bar|implode:', ', ' and '}
{=[one, two, three]|implode:', ', ' and '}
{=[a, b, c]|implode:'', '-'}
{=[a, b, c]|implode:'-', '-'}
{=[a, b, c]|implode:'-', ''}
{=[hello]|implode:'|', '-'}

{=[a => w, b => x, c => y, d => z]|implode}
{=[a => w, b => x, c => y, d => z]|implode:','}
{=[a => w, b => x, c => y, d => z]|implode:',', '-'}
