Test: "map" filter

{var $offset = 3}

{foreach array_map(fn($item) => ($item + 2), [1, 2]) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_map(fn($item) => ($item . '*'), [a => 1, b => 2]) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_map(fn($item, $k) => (($item . '*') . $k), [a => 1, b => 2]) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_map(fn($item) => ($item + 2), [1, 2]) as $k => $v}
    {$k} = {$v}
{/foreach}

{foreach array_map(fn($item) => ($item + 2), $it) as $k => $v}
    {$k} = {$v}
{/foreach}

{define local_lower, $string}
    {$string|lower}
{/define}
{array_map(fn($val) => {include local_lower, $val}, [A])|join}

{import $_self}
{array_map(fn($val) => {include local_lower, $val}, [A])|join}
