Test: "merge" filter

{array_merge($items, [bar => foo])|join}
{array_keys(array_merge($items, [bar => foo]))|join}
{array_merge([bar => foo], $items)|join}
{array_keys(array_merge([bar => foo], $items))|join}
{array_merge($numerics, [4, 5, 6])|join}
{array_merge($traversable->a, $traversable->b)|join}
