Test: "merge" filter

{array_merge($items, [bar => foo])|implode}
{array_keys(array_merge($items, [bar => foo]))|implode}
{array_merge([bar => foo], $items)|implode}
{array_keys(array_merge([bar => foo], $items))|implode}
{array_merge($numerics, [4, 5, 6])|implode}
{array_merge($traversable->a, $traversable->b)|implode}
