Test: "reduce" filter

{var $offset = 3}

{array_reduce([1,  -1, 4], fn($carry, $item) => (($carry + $item) + $offset), 10)}

{array_reduce($it, fn($carry, $item) => (($carry + $item) + $offset), 10)}
