Test: "reverse" filter

{=[1, 2, 3, 4]|reverse|implode:''}
{='1234évènement'|reverse}
{$arr|reverse|implode:''}
{=[a => c, b => a]|reverse|implode:','}
{=[a => c, b => a]|reverse:preserveKeys: true|implode:glue: ','}
{=[a => c, b => a]|reverse:preserve_keys: true|implode:glue: ','}
