Test: "sort" filter

{array_column(($fruits|sort:fn($a, $b) => ($a->quantity == $b->quantity) ? 0 : ($a->quantity > $b->quantity) ? 1 :  -1), name)|implode:', '}
{array_column(($fruits|sort:fn($a, $b) => ($a->quantity <=> $b->quantity)), name)|implode:', '}
