Test: "split" filter

{='é'|split:'', 10|implode:'-'}
{$foo|split:','|implode:'-'}
{$foo|split:',', 1|implode:'-'}
{$foo|split:',', 2|implode:'-'}
{$foo|split:',', 3|implode:'-'}
{$baz|split:''|implode:'-'}
{$baz|split:'', 1|implode:'-'}
{$baz|split:'', 2|implode:'-'}
