Test: "split" filter

{='one,two,three,four,five'|split:','|implode:'-'}
{$foo|split:','|implode:'-'}
{$foo|split:',', 3|implode:'-'}
{$baz|split:''|implode:'-'}
{$baz|split:'', 1|implode:'-'}
{$baz|split:'', 2|implode:'-'}
{$foo|split:',',  -2|implode:'-'}
{=hello0world|split:0|implode:'-'}
