Test: Twig supports array notation

{* empty array *}
{=[]|implode:','}

{=[1, 2]|implode:','}
{=[foo, bar]|implode:','}
{=[1, foo => bar]|implode:','}
{array_keys([1, foo => bar])|implode:','}

{=[1, foo => bar]|implode:','}
{array_keys([1, foo => bar])|implode:','}

{* nested arrays *}
{var $a = [1, 2, [1, 2], [foo => [foo => bar]]]}
{$a[2]|implode:','}
{$a[3]->foo|implode:','}

{* works even if [] is used inside the array *}
{=[$foo->{$bar}]|implode:','}

{* elements can be any expression *}
{=[(foo|upper), ($bar|upper), ($bar == $foo)]|implode:','}

{* arrays can have a trailing , like in PHP *}
{=[1, 2]|implode:','}

{* keys can be any expression *}
{var $a = 1}
{var $b = foo}
{var $ary = [$a => a, $b => b, c => c, ($a . $b) => d]}
{array_keys($ary)|implode:','}
{$ary|implode:','}

{* ArrayAccess *}
{$array_access->a}

{* array that does not exist *}
{isset($does_not_exist[0]) ? ($does_not_exist[0]|default:ok) : ok}
{isset($does_not_exist[0]->does_not_exist_either) ? ($does_not_exist[0]->does_not_exist_either|default:ok) : ok}
{isset($does_not_exist[0]->does_not_exist_either) ? ($does_not_exist[0]->does_not_exist_either|default:ok) : ok}
