Test: Twig supports the "divisible by" operator

{divisibleBy(8, 2) ? OK : ''}
{divisibleBy(8, 2) ? OK : ''}
{=!divisibleBy(8, 3) ? OK : ''}
{divisibleBy(8, 2) ? OK : ''}
{divisibleBy(8, 2) ? OK : ''}
{=!divisibleBy(8, 3) ? OK : ''}
