Test: Twig supports the "same as" operator

{1 === 1 ? OK : ''}
{1 === 1 ? OK : ''}
{=!1 === true ? OK : ''}
{=!1 === true ? OK : ''}
{1 === 1 ? OK : ''}
{=!1 === true ? OK : ''}
{1 === 1 ? OK : ''}
{1 === 1 ? OK : ''}
{=!1 === 1 ? OK : ''}
{=!1 === true ? OK : ''}
