Test: "use" tag

{import 'file2.html.latte'}
{import 'file1.html.latte'}
{block foo}
    {include parent}
    Content of foo (second override)
{/block}
{block bar}
    {include parent}
    Content of bar (second override)
{/block}
