Test: "embed" tag

{extends 'base.latte'}

{block c1}
    {include parent}
    blockc1baseextended
{/block}

{block c2}
    {include parent}

    {embed 'foo.latte'}
{block c1}
            {include parent}
            block1extended
        {/block}{/embed}
    {include parent}
{/block}
