Test: "macro" tag

{import $_self}

{block foo}
    {import "macros"}
    {include "input", "username"}
{/block}

{block bar}
    {include "input", "username"}
{/block}

{define input, $name}
    <input name="{$name}">
{/define}
