Test: "macro" tag

{import $_self}

{include input, username}
{include input, password, null, password, 1}

{define input, $name, $value, $type, $size}
  <input type="{$type ?? text}" name="{$name}" value="{=($value|default:'')}" size="{$size ?? 20}">
{/define}
