Test: "include" tag accept variables and only

{include 'foo.latte'}
{include 'foo.latte'}
{include 'foo.latte', ...$vars1}
{include 'foo.latte', ...$vars1}
{include 'foo.latte', ...$vars2}
{include 'foo.latte', ...$vars2}
