Test: "include" tag accept variables and only

{include "foo.twig"}
{include "foo.twig"}
{include "foo.twig", ...$vars1}
{include "foo.twig", ...$vars1}
{include "foo.twig", ...$vars2}
{include "foo.twig", ...$vars2}
